# coding: utf-8

"""
    Avaza API Documentation

    Welcome to the autogenerated documentation & test tool for Avaza's API. <br/><br/><strong>API Security & Authentication</strong><br/>Authentication options include OAuth2 Implicit and Authorization Code flows, and Personal Access Token. All connections should be encrypted over SSL/TLS <br/><br/>You can set up and manage your api authentication credentials from within your Avaza account. (requires Administrator permissions on your Avaza account).<br/><br/> OAuth2 Authorization endpoint: https://any.avaza.com/oauth2/authorize  <br/>OAuth2 Token endpoint: https://any.avaza.com/oauth2/token<br/>Base URL for subsequent API Requests: https://api.avaza.com/ <br/><br/>Blogpost about authenticating with Avaza's API:  https://www.avaza.com/avaza-api-oauth2-authentication/ <br/>Blogpost on using Avaza's webhooks: https://www.avaza.com/avaza-api-webhook-notifications/<br/>The OAuth flow currently issues Access Tokens that last 1 day, and Refresh tokens that last 180 days<br/>The Api respects the security Roles assigned to the authenticating Avaza user and filters the data return appropriately. <br/><br><strong>Support</strong><br/>For API Support, and to request access please contact Avaza Support Team via our support chat. <br/><br/><strong>User Contributed Libraries:</strong><br/>Graciously contributed by 3rd party users like you. <br/>Note these are not tested or endorsesd by Avaza. We encourage you to review before use, and use at own risk.<br/> <ul><li> - <a target='blank' href='https://packagist.org/packages/debiprasad/oauth2-avaza'>PHP OAuth Client Package for Azava API (by Debiprasad Sahoo)</a></li></ul>  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from avazacli.api_client import ApiClient


class ExpenseApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def expense_get(self, **kwargs):  # noqa: E501
        """Gets list of Expenses  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.expense_get(async=True)
        >>> result = thread.get()

        :param async bool
        :param datetime updated_after:
        :param datetime expense_date_from:
        :param datetime expense_date_to:
        :param str user_email:
        :param str category_name:
        :param int customer_id:
        :param int project_id:
        :param bool is_chargeable:
        :param bool is_invoiced:
        :param int page_size: Number of items per page (max 1000)
        :param int page_number: Page to display. Starts from 1.
        :param str sort:
        :return: ExpenseList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.expense_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.expense_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def expense_get_with_http_info(self, **kwargs):  # noqa: E501
        """Gets list of Expenses  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.expense_get_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param datetime updated_after:
        :param datetime expense_date_from:
        :param datetime expense_date_to:
        :param str user_email:
        :param str category_name:
        :param int customer_id:
        :param int project_id:
        :param bool is_chargeable:
        :param bool is_invoiced:
        :param int page_size: Number of items per page (max 1000)
        :param int page_number: Page to display. Starts from 1.
        :param str sort:
        :return: ExpenseList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['updated_after', 'expense_date_from', 'expense_date_to', 'user_email', 'category_name', 'customer_id', 'project_id', 'is_chargeable', 'is_invoiced', 'page_size', 'page_number', 'sort']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method expense_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'updated_after' in params:
            query_params.append(('UpdatedAfter', params['updated_after']))  # noqa: E501
        if 'expense_date_from' in params:
            query_params.append(('ExpenseDateFrom', params['expense_date_from']))  # noqa: E501
        if 'expense_date_to' in params:
            query_params.append(('ExpenseDateTo', params['expense_date_to']))  # noqa: E501
        if 'user_email' in params:
            query_params.append(('UserEmail', params['user_email']))  # noqa: E501
        if 'category_name' in params:
            query_params.append(('CategoryName', params['category_name']))  # noqa: E501
        if 'customer_id' in params:
            query_params.append(('CustomerID', params['customer_id']))  # noqa: E501
        if 'project_id' in params:
            query_params.append(('ProjectID', params['project_id']))  # noqa: E501
        if 'is_chargeable' in params:
            query_params.append(('isChargeable', params['is_chargeable']))  # noqa: E501
        if 'is_invoiced' in params:
            query_params.append(('isInvoiced', params['is_invoiced']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('pageNumber', params['page_number']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('Sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/api/Expense', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ExpenseList',  # noqa: E501
            auth_settings=auth_settings,
            is_async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def expense_get_by_id(self, id, **kwargs):  # noqa: E501
        """Gets an Expense Entry by Expense ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.expense_get_by_id(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int id: Expense ID number (required)
        :return: ExpenseDetails
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.expense_get_by_id_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.expense_get_by_id_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def expense_get_by_id_with_http_info(self, id, **kwargs):  # noqa: E501
        """Gets an Expense Entry by Expense ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.expense_get_by_id_with_http_info(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int id: Expense ID number (required)
        :return: ExpenseDetails
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method expense_get_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `expense_get_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/api/Expense/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ExpenseDetails',  # noqa: E501
            auth_settings=auth_settings,
            is_async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def expense_post(self, model, **kwargs):  # noqa: E501
        """Create an Expense  # noqa: E501

        Create an Expense  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.expense_post(model, async=True)
        >>> result = thread.get()

        :param async bool
        :param NewExpense model: (required)
        :return: ExpenseDetails
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.expense_post_with_http_info(model, **kwargs)  # noqa: E501
        else:
            (data) = self.expense_post_with_http_info(model, **kwargs)  # noqa: E501
            return data

    def expense_post_with_http_info(self, model, **kwargs):  # noqa: E501
        """Create an Expense  # noqa: E501

        Create an Expense  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.expense_post_with_http_info(model, async=True)
        >>> result = thread.get()

        :param async bool
        :param NewExpense model: (required)
        :return: ExpenseDetails
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['model']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method expense_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'model' is set
        if ('model' not in params or
                params['model'] is None):
            raise ValueError("Missing the required parameter `model` when calling `expense_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'model' in params:
            body_params = params['model']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/api/Expense', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ExpenseDetails',  # noqa: E501
            auth_settings=auth_settings,
            is_async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
