{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Avaza API Documentation",
    "description": "Welcome to the autogenerated documentation & test tool for Avaza's API. <br/><br/><strong>API Security & Authentication</strong><br/>Authentication options include OAuth2 Implicit and Authorization Code flows, and Personal Access Token. All connections should be encrypted over SSL/TLS <br/><br/>You can set up and manage your api authentication credentials from within your Avaza account. (requires Administrator permissions on your Avaza account).<br/><br/> OAuth2 Authorization endpoint: https://any.avaza.com/oauth2/authorize  <br/>OAuth2 Token endpoint: https://any.avaza.com/oauth2/token<br/>Base URL for subsequent API Requests: https://api.avaza.com/ <br/><br/>Blogpost about authenticating with Avaza's API:  https://www.avaza.com/avaza-api-oauth2-authentication/ <br/>Blogpost on using Avaza's webhooks: https://www.avaza.com/avaza-api-webhook-notifications/<br/>The OAuth flow currently issues Access Tokens that last 1 day, and Refresh tokens that last 180 days<br/>The Api respects the security Roles assigned to the authenticating Avaza user and filters the data return appropriately. <br/><br><strong>Support</strong><br/>For API Support, and to request access please contact Avaza Support Team via our support chat. <br/><br/><strong>User Contributed Libraries:</strong><br/>Graciously contributed by 3rd party users like you. <br/>Note these are not tested or endorsesd by Avaza. We encourage you to review before use, and use at own risk.<br/> <ul><li> - <a target='blank' href='https://packagist.org/packages/debiprasad/oauth2-avaza'>PHP OAuth Client Package for Azava API (by Debiprasad Sahoo)</a></li></ul>"
  },
  "host": "api.avaza.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/Account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Account Details",
        "operationId": "Account_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccountDetails"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_account"
            ]
          }
        ]
      }
    },
    "/api/Company": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Gets list of Companies",
        "operationId": "Company_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "UpdatedAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "1 based page number to retrieve",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Sort",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CompanyList"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_contacts"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Company"
        ],
        "summary": "Update a Task.",
        "description": "Requires TaskID and a list of field names to update. The FieldsToUpdate field accepts a string array containing field names that should be updated.",
        "operationId": "Company_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateCompany"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write_contacts"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Create a Company",
        "operationId": "Company_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewCompany"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write_contacts"
            ]
          }
        ]
      }
    },
    "/api/Company/{id}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Gets Company by Company ID",
        "operationId": "Company_GetByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Company ID Number",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_contacts"
            ]
          }
        ]
      }
    },
    "/api/Contact": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Gets list of Contacts",
        "operationId": "Contact_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "UpdatedAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page (max 1000)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page to display. Starts from 1.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Sort",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyIDFK",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ContactList"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_contacts"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Create a Contact",
        "operationId": "Contact_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewCompanyContact"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CompanyContact"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write_contacts"
            ]
          }
        ]
      }
    },
    "/api/Contact/{id}": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Gets Contact by Contact ID",
        "operationId": "Contact_GetByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contact ID number",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CompanyContact"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_contacts"
            ]
          }
        ]
      }
    },
    "/api/CreditNote": {
      "get": {
        "tags": [
          "CreditNote"
        ],
        "summary": "Gets list of CreditNotes",
        "operationId": "CreditNote_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "UpdatedAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page (max 1000)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page to display. Starts from 1.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreditNoteList"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ]
      }
    },
    "/api/CreditNote/{id}": {
      "get": {
        "tags": [
          "CreditNote"
        ],
        "summary": "Gets Credit Note by CreditNoteID",
        "operationId": "CreditNote_GetByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Credit Note ID Number",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreditNote"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ]
      }
    },
    "/api/Currency": {
      "get": {
        "tags": [
          "Currency"
        ],
        "summary": "Gets list of Currencies",
        "operationId": "Currency_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CurrencyList"
            }
          }
        }
      }
    },
    "/api/Estimate": {
      "get": {
        "tags": [
          "Estimate"
        ],
        "summary": "Gets list of Estimates",
        "description": "EstimateStatusCode values are: \"Draft\", \"Sent\", \"Late\", \"Paid\", \"Partial\", \"Void\"",
        "operationId": "Estimate_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "UpdatedAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page (max 1000)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page to display. Starts from 1.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Sort",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyIDFK",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EstimateList"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ]
      }
    },
    "/api/Estimate/{id}": {
      "get": {
        "tags": [
          "Estimate"
        ],
        "summary": "Gets Estimate by Estimate ID",
        "operationId": "Estimate_GetByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Estimate Estimate ID number",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ]
      }
    },
    "/api/Expense": {
      "get": {
        "tags": [
          "Expense"
        ],
        "summary": "Gets list of Expenses",
        "operationId": "Expense_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "UpdatedAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "ExpenseDateFrom",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "ExpenseDateTo",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "UserEmail",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "CategoryName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "CustomerID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ProjectID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isChargeable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isInvoiced",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page (max 1000)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page to display. Starts from 1.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Sort",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExpenseList"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_expenses"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Expense"
        ],
        "summary": "Create an Expense",
        "description": "Create an Expense",
        "operationId": "Expense_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewExpense"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExpenseDetails"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write_expenses"
            ]
          }
        ]
      }
    },
    "/api/Expense/{id}": {
      "get": {
        "tags": [
          "Expense"
        ],
        "summary": "Gets an Expense Entry by Expense ID",
        "operationId": "Expense_GetByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Expense ID number",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExpenseDetails"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_expenses"
            ]
          }
        ]
      }
    },
    "/api/Inventory": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Gets list of Inventory",
        "description": "",
        "operationId": "Inventory_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "UpdatedAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page (max 1000)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page to display. Starts from 1.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InventoryList"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ]
      }
    },
    "/api/Inventory/{id}": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Gets InventoryItem by InventoryItem ID",
        "operationId": "Inventory_GetByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "InventoryItem ID number",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ]
      }
    },
    "/api/Invoice": {
      "get": {
        "tags": [
          "Invoice"
        ],
        "summary": "Gets list of Invoices",
        "description": "TransactionStatusCode values are: \"Draft\", \"Sent\", \"Late\", \"Paid\", \"Partial\", \"Void\"",
        "operationId": "Invoice_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "UpdatedAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page (max 1000)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page to display. Starts from 1.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Sort",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyIDFK",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InvoiceList"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Invoice"
        ],
        "summary": "Create a new draft invoice",
        "operationId": "Invoice_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewInvoice"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write_financials"
            ]
          }
        ]
      }
    },
    "/api/Invoice/{id}": {
      "get": {
        "tags": [
          "Invoice"
        ],
        "summary": "Gets Invoice by Invoice ID",
        "operationId": "Invoice_GetByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Invoice Transaction ID number",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ]
      }
    },
    "/api/Payment": {
      "get": {
        "tags": [
          "Payment"
        ],
        "summary": "Gets list of Payments",
        "operationId": "Payment_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "UpdatedAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page (max 1000)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page to display. Starts from 1.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PaymentList"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Create new Payment and optionally assign payment allocations to Invoices",
        "operationId": "Payment_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewPayment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Payment"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write_financials"
            ]
          }
        ]
      }
    },
    "/api/Payment/{id}": {
      "get": {
        "tags": [
          "Payment"
        ],
        "summary": "Gets Payment by Payment Transaction ID",
        "operationId": "Payment_GetByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Invoice Transaction ID Number",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Payment"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ]
      }
    },
    "/api/Project": {
      "get": {
        "tags": [
          "Project"
        ],
        "summary": "Gets list of Projects",
        "operationId": "Project_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "UpdatedAfter",
            "in": "query",
            "description": "Only show project records updated after a certain date (UTC)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page (max 1000)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page to display. Starts from 1.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Sort",
            "in": "query",
            "description": "A column to sort on. Current possible values: \"DateUpdated\", \"DateCreated\", \"DateUpdated desc\", \"DateCreated desc\"",
            "required": false,
            "type": "string"
          },
          {
            "name": "TimesheetUserID",
            "in": "query",
            "description": "Filter to the projects that the supplied UserID can add timesheets to",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "includeArchived",
            "in": "query",
            "description": "Include Archived Projects in the results",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectList"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_projects"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Project"
        ],
        "summary": "Create a Project",
        "operationId": "Project_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewProjectModel"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ProjectDetails"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write_projects"
            ]
          }
        ]
      }
    },
    "/api/Project/{id}": {
      "get": {
        "tags": [
          "Project"
        ],
        "summary": "Gets Project by Project ID",
        "operationId": "Project_GetByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project ID number",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ProjectDetails"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_projects"
            ]
          }
        ]
      }
    },
    "/api/ProjectTimesheetCategory": {
      "get": {
        "tags": [
          "ProjectTimesheetCategory"
        ],
        "summary": "Gets list of Project Timesheet Categories",
        "operationId": "ProjectTimesheetCategory_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ProjectID",
            "in": "query",
            "description": "Get categories filtered by ProjectID",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ProjectTimesheetCategoryList"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_timesheets"
            ]
          }
        ]
      }
    },
    "/api/ScheduleAssignment": {
      "get": {
        "tags": [
          "ScheduleAssignment"
        ],
        "summary": "Gets list of Schedule Assignments.",
        "description": "Schedule assignments are per-day, and link to a parent Schedule Series.",
        "operationId": "ScheduleAssignment_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "UpdatedAfter",
            "in": "query",
            "description": "Limit results to records updated after the specified date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "ScheduleDateFrom",
            "in": "query",
            "description": "Filter for schedule assignement  that are  on or after a specific date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "ScheduleDateTo",
            "in": "query",
            "description": "Filter for schedules that are on or before a specific date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "ScheduleSeriesID",
            "in": "query",
            "description": "Filter to records for a particular Schedule Series",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "UserID",
            "in": "query",
            "description": "The UserID of a schedule user to filter assignments for. Only api users with Admin role can see all schedules across all users. Users with ScheduleUser role can access their own ScheduleSeries.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "UserEmail",
            "in": "query",
            "description": "The email of the user who has been scheduled",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page (max 1000)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page to display. Starts from 1.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Sort",
            "in": "query",
            "description": "Optional sorting instruction. Currently possible values: \"DateUpdated\", \"DateCreated\", \"DateUpdated desc\", \"DateCreated desc\"",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScheduleAssignmentList"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_schedule"
            ]
          }
        ]
      }
    },
    "/api/ScheduleSeries": {
      "get": {
        "tags": [
          "ScheduleSeries"
        ],
        "summary": "Gets list of Schedule Series",
        "description": "Schedule Series represents a strip of time assigned to a user over a date range, for a certain number of hours per day. They can be for Leave or for project work Bookings.",
        "operationId": "ScheduleSeries_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "UpdatedAfter",
            "in": "query",
            "description": "Limit results to records updated after the specified date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "ScheduleStartDateFrom",
            "in": "query",
            "description": "Filter for schedules that start on or after a specific date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "ScheduleStartDateTo",
            "in": "query",
            "description": "Filter for schedules that start on or before a specific date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "ScheduleEndDateFrom",
            "in": "query",
            "description": "Filter for schedules that end on or after a specific date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "ScheduleEndDateTo",
            "in": "query",
            "description": "Filter for schedules that end on or before a specific date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "UserID",
            "in": "query",
            "description": "The UserID of a schedule user to filter assignments for. Only api users with Admin role can see all schedules across all users. Users with ScheduleUser role can access their own ScheduleSeries.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "UserEmail",
            "in": "query",
            "description": "The email of the user who has been scheduled",
            "required": false,
            "type": "string"
          },
          {
            "name": "TimeSheetCategoryID",
            "in": "query",
            "description": "Filter for schedule records linked to a specific timesheeet category",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "TimeSheetCategoryName",
            "in": "query",
            "description": "Filter for schedule records with a specific timesheeet category name (exact string match)",
            "required": false,
            "type": "string"
          },
          {
            "name": "LeaveTypeID",
            "in": "query",
            "description": "Filter to records of a particular leave type",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ProjectID",
            "in": "query",
            "description": "Filter to only include books linked to a specific project",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CompanyID",
            "in": "query",
            "description": "Filter to only include records linked to projects, where that project belongs to a specific customer company",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page (max 1000)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page to display. Starts from 1.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Sort",
            "in": "query",
            "description": "Optional sorting instruction. Currently possible values: \"DateUpdated\", \"DateCreated\", \"DateUpdated desc\", \"DateCreated desc\"",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScheduleSeriesList"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_schedule"
            ]
          }
        ]
      }
    },
    "/api/Section": {
      "get": {
        "tags": [
          "Section"
        ],
        "summary": "Gets list of Sections",
        "operationId": "Section_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ProjectID",
            "in": "query",
            "description": "Get sections for Project with ProjectID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SectionList"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_projects"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Section"
        ],
        "summary": "Create a Section",
        "operationId": "Section_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewSection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SectionDetails"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write_projects"
            ]
          }
        ]
      }
    },
    "/api/Task": {
      "get": {
        "tags": [
          "Task"
        ],
        "summary": "Gets list of Tasks",
        "operationId": "Task_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "UpdatedAfter",
            "in": "query",
            "description": "Optional filter to records updated after a specific date.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page. Defaults to 20.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page to display. Starts from 1. Defaults to 1",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Sort",
            "in": "query",
            "description": "Optional sorting instruction. Currently possible values: \"DateUpdated\", \"DateCreated\", \"DateUpdated desc\", \"DateCreated desc\"",
            "required": false,
            "type": "string"
          },
          {
            "name": "ProjectID",
            "in": "query",
            "description": "Optional filter to only display tasks belonging to a specific ProjectID",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TaskList"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_projects"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Task"
        ],
        "summary": "Update a Task.",
        "description": "Requires TaskID and a list of field names to update. The FieldsToUpdate field accepts a string array containing field names that should be updated.",
        "operationId": "Task_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTask"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskDetails"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write_projects"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Task"
        ],
        "summary": "Create a Task",
        "operationId": "Task_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewTask"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskDetails"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write_projects"
            ]
          }
        ]
      }
    },
    "/api/Task/{id}": {
      "get": {
        "tags": [
          "Task"
        ],
        "summary": "Gets Task by Task ID",
        "operationId": "Task_GetByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Task ID number",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TaskDetails"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_projects"
            ]
          }
        ]
      }
    },
    "/api/Tax": {
      "get": {
        "tags": [
          "Tax"
        ],
        "summary": "Get List of Taxes configured in the Avaza account.",
        "operationId": "Tax_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaxList"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ]
      }
    },
    "/api/Timesheet": {
      "get": {
        "tags": [
          "Timesheet"
        ],
        "summary": "Gets list of Timsheets",
        "operationId": "Timesheet_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "UpdatedAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "EntryDateFrom",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "EntryDateTo",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "UserID",
            "in": "query",
            "description": "The UserID of a timesheet user to filter timesheets for. Only api users with certain higher roles can see timesheets across multiple users.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "UserEmail",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "CategoryName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ProjectID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isBillable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isInvoiced",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isTimerRunning",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page (max 1000)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page to display. Starts from 1.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Sort",
            "in": "query",
            "description": "Optional sorting instruction. Currently possible values: \"DateUpdated\", \"DateCreated\", \"DateUpdated desc\", \"DateCreated desc\",\"EntryDate\", \"EntryDate desc\", \"StartTimeLocal\",\"StartTimeLocal desc\", \"TimeSheetEntryID\", \"TimeSheetEntryID desc\"",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TimesheetList"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_timesheets"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Timesheet"
        ],
        "summary": "Update a Timesheet",
        "description": "The FieldsToUpdate field expects a string array collection of the field names you would like updated.",
        "operationId": "Timesheet_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTimesheetModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TimesheetDetails"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write_timesheets"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Timesheet"
        ],
        "summary": "Create a new Timesheet Entry",
        "operationId": "Timesheet_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewTimesheet"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TimesheetDetails"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write_timesheets"
            ]
          }
        ]
      }
    },
    "/api/Timesheet/{id}": {
      "get": {
        "tags": [
          "Timesheet"
        ],
        "summary": "Gets a Timesheet Entry by Timesheet ID",
        "operationId": "Timesheet_GetByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Timesheet ID number",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TimesheetDetails"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_timesheets"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Timesheet"
        ],
        "summary": "Delete a Timesheet Entry",
        "operationId": "Timesheet_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The TimesheetEntryID of the Timesheet Entry",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write_timesheets"
            ]
          }
        ]
      }
    },
    "/api/TimesheetSubmission": {
      "post": {
        "tags": [
          "TimesheetSubmission"
        ],
        "summary": "Submit Timesheets for Approval.",
        "description": "Either provide a a specific Day (WholeDayOf) or any day in a Week (WholeWeekOf) to submit all draft timesheets in that day or week",
        "operationId": "TimesheetSubmission_Post",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "SendNotifications",
            "in": "query",
            "description": "Send email alerts to timesheet approvers. Defaults to true",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "WholeWeekOf",
            "in": "query",
            "description": "A date (yyyy-MM-dd) that falls within  a Week to have all timesheets in that week submitted. Respects the First Day of Week setting in your account Timesheet Settings to determine the week range.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "WholeDayOf",
            "in": "query",
            "description": "A date (yyyy-MM-dd) to submit all timesheets on this day",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "UserID",
            "in": "query",
            "description": "The user to submit timesheets for. Defaults to current user. Only allowed to be different from the current user when the current user has rights to Impersonate other users.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write_timesheets"
            ]
          }
        ]
      }
    },
    "/api/TimesheetTimer": {
      "get": {
        "tags": [
          "TimesheetTimer"
        ],
        "summary": "Gets the  Running Timer if there is one for a user.",
        "operationId": "TimesheetTimer_GetRunningTimer",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "UserID",
            "in": "query",
            "description": "Optional - User ID number if impersonating a different user. Otherwise assumes the current user. Only users with certain security roles have permission to impersonate other users",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_timesheets"
            ]
          }
        ]
      }
    },
    "/api/TimesheetTimer/{id}": {
      "post": {
        "tags": [
          "TimesheetTimer"
        ],
        "summary": "Starts a Timer running on an existing Timesheet Entry",
        "operationId": "TimesheetTimer_StartTimer",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the existing timesheet entry on which to start a timer",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "UserID",
            "in": "query",
            "description": "Optional - User ID number if impersonating a different user. Otherwise assumes the current user. Only users with certain security roles have permission to impersonate other users",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write_timesheets"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "TimesheetTimer"
        ],
        "summary": "Stop the timer running on an existing Timesheet Entry",
        "operationId": "TimesheetTimer_StopTimer",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the existing timesheet entry that needs its timer stopped",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "UserID",
            "in": "query",
            "description": "Optional - User ID number if impersonating a different user. Otherwise assumes the current user. Only users with certain security roles have permission to impersonate other users",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write_timesheets"
            ]
          }
        ]
      }
    },
    "/api/UserProfile": {
      "get": {
        "tags": [
          "UserProfile"
        ],
        "summary": "Get Collection of Users who have roles in the current Avaza account.",
        "description": "Admin and Invoice Managers can see all. Other users are limited to seeing their own profile.",
        "operationId": "UserProfile_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Roles",
            "in": "query",
            "description": "Optional list of comma separated role codes to filter users by (e.g. \"TimesheetUser,Admin\")",
            "required": false,
            "type": "string"
          },
          {
            "name": "Tags",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "CurrentUserOnly",
            "in": "query",
            "description": "Optional boolean (true/false) to filter to only show current authenticated user (always true for non Admin/InvoiceManager users)",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "CompanyIDFK",
            "in": "query",
            "description": "Optionally filter by Company ID",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserList"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read_users"
            ]
          }
        ]
      }
    },
    "/api/Webhook": {
      "get": {
        "tags": [
          "Webhook"
        ],
        "summary": "Get list of Webhook Subscriptions",
        "operationId": "Webhook_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WebhookList"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "webhook_notifications"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Webhook"
        ],
        "summary": "Subscribe to Webhook. On success, returns ID of webhook subscription.",
        "description": "When you receive a webhook, you should respond with Http 200 OK Status Code, otherwise we will retry. To create a webhook, you need both the webhook_notifications scope, as well as the scope for the required entity being monitored.  Event values are: \"company_created\", \"company_deleted\", \"company_updated\", \"contact_created\", \"contact_deleted\", \"contact_updated\", \"invoice_created\", \"invoice_sent\", \"project_created\", \"project_deleted\", \"project_updated\", \"task_created\", \"task_updated\", \"timesheet_created\", \"timesheet_deleted\", \"timesheet_updated\".  You can subscribe to any webhook, but you will only receive notifications for data appropriate to the roles of your user account. There is an optional  Secret parameter (string 255 char max). This allows for webhook authentication. If provided, the Secret will be BASE 64 encoded and passed with notications as a basic authentication http header. i.e. Authorization Basic [BASE64 of Secret]\"",
        "operationId": "Webhook_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSubscription"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "201": {
            "description": "Subscription created",
            "schema": {
              "$ref": "#/definitions/SubscribeResult"
            }
          },
          "409": {
            "description": "Duplicate subscription already exists"
          }
        },
        "security": [
          {
            "oauth2": [
              "webhook_notifications",
              "read_contacts",
              "read_account",
              "read_users",
              "read_financials",
              "read_projects",
              "read_schedule",
              "read_timesheets",
              "read_expenses",
              "write_contacts",
              "write_account",
              "write_users",
              "write_financials",
              "write_projects",
              "write_schedule",
              "write_timesheets",
              "write_expenses"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Webhook"
        ],
        "summary": "Delete webhook subscription by URL",
        "operationId": "Webhook_DeleteByUrl",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "target_url",
            "in": "query",
            "description": "Target URL that should be used to delete subscriptions",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Subscription Deleted OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "webhook_notifications"
            ]
          }
        ]
      }
    },
    "/api/Webhook/{id}": {
      "delete": {
        "tags": [
          "Webhook"
        ],
        "summary": "Delete Webhook Subscription by ID",
        "operationId": "Webhook_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Subscription id to be deleted",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Subscription deleted ok",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "webhook_notifications"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "AccountDetails": {
      "type": "object",
      "properties": {
        "AccountID": {
          "format": "int32",
          "type": "integer"
        },
        "CompanyName": {
          "type": "string"
        },
        "Subdomain": {
          "type": "string"
        },
        "hasStartEndTimesheets": {
          "type": "boolean"
        },
        "has24HourTimesheetFormat": {
          "type": "boolean"
        },
        "WeeklyTimesheetReminder": {
          "type": "boolean"
        },
        "LockApprovedTimesheets": {
          "type": "boolean"
        },
        "TimesheetDayOfWeek": {
          "format": "int32",
          "type": "integer"
        },
        "TimesheetDisplayFormatCode": {
          "type": "string"
        },
        "AllowHidingCompletedTasksOnTimesheet": {
          "type": "boolean"
        },
        "CurrentServerTimeISO": {
          "description": "Format: ISO \"YYYY-MM-DD HH:mm:ss.SSS\"",
          "type": "string"
        }
      }
    },
    "CompanyList": {
      "type": "object",
      "properties": {
        "Companies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Company"
          }
        },
        "TotalCount": {
          "format": "int32",
          "type": "integer"
        },
        "PageNumber": {
          "format": "int32",
          "type": "integer"
        },
        "PageSize": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Company": {
      "type": "object",
      "properties": {
        "CompanyID": {
          "format": "int32",
          "type": "integer"
        },
        "CompanyName": {
          "type": "string"
        },
        "BillingAddressLine": {
          "type": "string"
        },
        "BillingAddressCity": {
          "type": "string"
        },
        "BillingAddressState": {
          "type": "string"
        },
        "BillingAddressPostCode": {
          "type": "string"
        },
        "BillingCountryCode": {
          "type": "string"
        },
        "BillingAddress": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "Fax": {
          "type": "string"
        },
        "website": {
          "type": "string"
        },
        "TaxNumber": {
          "type": "string"
        },
        "Comments": {
          "type": "string"
        },
        "CurrencyCode": {
          "type": "string"
        },
        "DefaultTradingTermIDFK": {
          "format": "int32",
          "type": "integer"
        },
        "DateCreated": {
          "format": "date-time",
          "type": "string"
        },
        "DateUpdated": {
          "format": "date-time",
          "type": "string"
        },
        "Contacts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CompanyContact"
          }
        }
      }
    },
    "CompanyContact": {
      "type": "object",
      "properties": {
        "ContactID": {
          "format": "int32",
          "type": "integer"
        },
        "CompanyIDFK": {
          "format": "int32",
          "type": "integer"
        },
        "CompanyName": {
          "type": "string"
        },
        "Firstname": {
          "type": "string"
        },
        "Lastname": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "Mobile": {
          "type": "string"
        },
        "PositionTitle": {
          "type": "string"
        },
        "TimeZone": {
          "type": "string"
        },
        "DateCreated": {
          "format": "date-time",
          "type": "string"
        },
        "DateUpdated": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "NewCompany": {
      "required": [
        "CompanyName"
      ],
      "type": "object",
      "properties": {
        "CompanyName": {
          "type": "string"
        },
        "CurrencyCode": {
          "type": "string"
        },
        "BillingAddressLine": {
          "type": "string"
        },
        "BillingAddressCity": {
          "type": "string"
        },
        "BillingAddressState": {
          "type": "string"
        },
        "BillingAddressPostCode": {
          "type": "string"
        },
        "BillingCountryCode": {
          "type": "string"
        },
        "BillingAddress": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "Fax": {
          "type": "string"
        },
        "website": {
          "type": "string"
        },
        "TaxNumber": {
          "type": "string"
        },
        "Comments": {
          "type": "string"
        }
      }
    },
    "UpdateCompany": {
      "type": "object",
      "properties": {
        "CompanyID": {
          "format": "int32",
          "type": "integer"
        },
        "FieldsToUpdate": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "CompanyName": {
          "type": "string"
        },
        "BillingAddressLine": {
          "type": "string"
        },
        "BillingAddressCity": {
          "type": "string"
        },
        "BillingAddressState": {
          "type": "string"
        },
        "BillingAddressPostCode": {
          "type": "string"
        },
        "BillingCountryCode": {
          "type": "string"
        },
        "BillingAddress": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "Fax": {
          "type": "string"
        },
        "website": {
          "type": "string"
        },
        "TaxNumber": {
          "type": "string"
        },
        "Comments": {
          "type": "string"
        }
      }
    },
    "ContactList": {
      "type": "object",
      "properties": {
        "Contacts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CompanyContact"
          }
        },
        "TotalCount": {
          "format": "int32",
          "type": "integer"
        },
        "PageNumber": {
          "format": "int32",
          "type": "integer"
        },
        "PageSize": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "NewCompanyContact": {
      "required": [
        "ContactEmail",
        "Firstname",
        "Lastname"
      ],
      "type": "object",
      "properties": {
        "CompanyIDFK": {
          "format": "int32",
          "type": "integer"
        },
        "CompanyName": {
          "type": "string"
        },
        "CurrencyCode": {
          "type": "string"
        },
        "CompanyBillingAddress": {
          "type": "string"
        },
        "CompanyBillingAddressLine": {
          "type": "string"
        },
        "CompanyBillingAddressCity": {
          "type": "string"
        },
        "CompanyBillingAddressState": {
          "type": "string"
        },
        "CompanyBillingAddressPostCode": {
          "type": "string"
        },
        "CompanyBillingAddressCountryCode": {
          "type": "string"
        },
        "ContactEmail": {
          "type": "string"
        },
        "Firstname": {
          "type": "string"
        },
        "Lastname": {
          "type": "string"
        },
        "PositionTitle": {
          "type": "string"
        },
        "Mobile": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "UpdateExisting": {
          "type": "boolean"
        }
      }
    },
    "CreditNoteList": {
      "type": "object",
      "properties": {
        "TotalCount": {
          "format": "int32",
          "type": "integer"
        },
        "PageNumber": {
          "format": "int32",
          "type": "integer"
        },
        "PageSize": {
          "format": "int32",
          "type": "integer"
        },
        "CreditNotes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CreditNote"
          }
        }
      }
    },
    "CreditNote": {
      "type": "object",
      "properties": {
        "TransactionID": {
          "format": "int64",
          "type": "integer"
        },
        "TransactionPrefix": {
          "type": "string"
        },
        "CreditNoteNumber": {
          "type": "string"
        },
        "CustomerIDFK": {
          "format": "int32",
          "type": "integer"
        },
        "DateIssued": {
          "format": "date-time",
          "type": "string"
        },
        "TransactionStatusCode": {
          "type": "string"
        },
        "Balance": {
          "format": "double",
          "type": "number"
        },
        "CurrencyCode": {
          "type": "string"
        },
        "TotalAmount": {
          "format": "double",
          "type": "number"
        },
        "Notes": {
          "type": "string"
        },
        "DateCreated": {
          "format": "date-time",
          "type": "string"
        },
        "DateUpdated": {
          "format": "date-time",
          "type": "string"
        },
        "CreditNoteAllocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CreditNoteAllocation"
          }
        },
        "CreditNoteLineItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CreditNoteLineItem"
          }
        }
      }
    },
    "CreditNoteAllocation": {
      "type": "object",
      "properties": {
        "TransactionAllocationID": {
          "format": "int64",
          "type": "integer"
        },
        "InvoiceTransactionIDFK": {
          "format": "int64",
          "type": "integer"
        },
        "CreditNoteTransactionIDFK": {
          "format": "int64",
          "type": "integer"
        },
        "AllocationDate": {
          "format": "date-time",
          "type": "string"
        },
        "AllocationAmount": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "CreditNoteLineItem": {
      "type": "object",
      "properties": {
        "TransactionLineItemID": {
          "format": "int64",
          "type": "integer"
        },
        "Description": {
          "type": "string"
        },
        "Quantity": {
          "format": "double",
          "type": "number"
        },
        "UnitPrice": {
          "format": "double",
          "type": "number"
        },
        "TaxAmount": {
          "format": "double",
          "type": "number"
        },
        "TaxIDFK": {
          "format": "int32",
          "type": "integer"
        },
        "Amount": {
          "format": "double",
          "type": "number"
        },
        "Discount": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "CurrencyList": {
      "type": "object",
      "properties": {
        "Currencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Currency"
          }
        }
      }
    },
    "Currency": {
      "type": "object",
      "properties": {
        "CurrencyCode": {
          "type": "string"
        },
        "DecimalPlaces": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "EstimateList": {
      "type": "object",
      "properties": {
        "TotalCount": {
          "format": "int32",
          "type": "integer"
        },
        "PageNumber": {
          "format": "int32",
          "type": "integer"
        },
        "PageSize": {
          "format": "int32",
          "type": "integer"
        },
        "Estimates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EstimateDetails"
          }
        }
      }
    },
    "EstimateDetails": {
      "type": "object",
      "properties": {
        "EstimateID": {
          "format": "int64",
          "type": "integer"
        },
        "AccountIDFK": {
          "format": "int32",
          "type": "integer"
        },
        "EstimatePrefix": {
          "type": "string"
        },
        "EstimateItemNumber": {
          "type": "string"
        },
        "CompanyIDFK": {
          "format": "int32",
          "type": "integer"
        },
        "CompanyName": {
          "type": "string"
        },
        "Subject": {
          "type": "string"
        },
        "DateIssued": {
          "format": "date-time",
          "type": "string"
        },
        "DateSent": {
          "format": "date-time",
          "type": "string"
        },
        "DueDate": {
          "format": "date-time",
          "type": "string"
        },
        "EstimateStatusCode": {
          "type": "string"
        },
        "TaxAmount": {
          "format": "double",
          "type": "number"
        },
        "EstimateTaxConfigCode": {
          "type": "string"
        },
        "Balance": {
          "format": "double",
          "type": "number"
        },
        "CurrencyCode": {
          "type": "string"
        },
        "TotalAmount": {
          "format": "double",
          "type": "number"
        },
        "ExchangeRate": {
          "format": "double",
          "type": "number"
        },
        "Notes": {
          "type": "string"
        },
        "DateCreated": {
          "format": "date-time",
          "type": "string"
        },
        "DateUpdated": {
          "format": "date-time",
          "type": "string"
        },
        "LineItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EstimateLineItemDetails"
          }
        },
        "Links": {
          "$ref": "#/definitions/EstimateLinks"
        },
        "Issuer": {
          "$ref": "#/definitions/IssuerDetails"
        },
        "Recipient": {
          "$ref": "#/definitions/RecipientDetails"
        }
      }
    },
    "EstimateLineItemDetails": {
      "type": "object",
      "properties": {
        "EstimateLineItemID": {
          "format": "int64",
          "type": "integer"
        },
        "InventoryItemIDFK": {
          "format": "int64",
          "type": "integer"
        },
        "InventoryItemName": {
          "type": "string"
        },
        "InventoryItemSKU": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "Quantity": {
          "format": "double",
          "type": "number"
        },
        "UnitPrice": {
          "format": "double",
          "type": "number"
        },
        "TaxAmount": {
          "format": "double",
          "type": "number"
        },
        "TaxIDFK": {
          "format": "int32",
          "type": "integer"
        },
        "TaxCode": {
          "type": "string"
        },
        "TaxName": {
          "type": "string"
        },
        "Amount": {
          "format": "double",
          "type": "number"
        },
        "Discount": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "EstimateLinks": {
      "type": "object",
      "properties": {
        "ClientView": {
          "type": "string"
        },
        "View": {
          "type": "string"
        },
        "Edit": {
          "type": "string"
        }
      }
    },
    "IssuerDetails": {
      "type": "object",
      "properties": {
        "BillingAddress": {
          "type": "string"
        },
        "BillingAddressLine": {
          "type": "string"
        },
        "BillingAddressCity": {
          "type": "string"
        },
        "BillingAddressState": {
          "type": "string"
        },
        "BillingAddressPostCode": {
          "type": "string"
        },
        "BillingCountryCode": {
          "type": "string"
        },
        "TaxNumber": {
          "type": "string"
        }
      }
    },
    "RecipientDetails": {
      "type": "object",
      "properties": {
        "CompanyIDFK": {
          "format": "int32",
          "type": "integer"
        },
        "CompanyName": {
          "type": "string"
        },
        "RecipientFormattedBillingAddress": {
          "type": "string"
        },
        "RecipientBillingAddressLine": {
          "type": "string"
        },
        "RecipientBillingAddressCity": {
          "type": "string"
        },
        "RecipientBillingAddressState": {
          "type": "string"
        },
        "RecipientBillingAddressPostCode": {
          "type": "string"
        },
        "RecipientBillingAddressCountryCode": {
          "type": "string"
        }
      }
    },
    "ExpenseList": {
      "type": "object",
      "properties": {
        "Expenses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExpenseDetails"
          }
        },
        "TotalCount": {
          "format": "int32",
          "type": "integer"
        },
        "PageNumber": {
          "format": "int32",
          "type": "integer"
        },
        "PageSize": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ExpenseDetails": {
      "type": "object",
      "properties": {
        "ExpenseID": {
          "format": "int64",
          "type": "integer"
        },
        "UserIDFK": {
          "format": "int32",
          "type": "integer"
        },
        "Firstname": {
          "type": "string"
        },
        "Lastname": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "CustomerIDFK": {
          "format": "int32",
          "type": "integer"
        },
        "CustomerName": {
          "type": "string"
        },
        "ProjectIDFK": {
          "format": "int32",
          "type": "integer"
        },
        "ProjectTitle": {
          "type": "string"
        },
        "ExpenseCategoryIDFK": {
          "format": "int32",
          "type": "integer"
        },
        "ExpenseCategoryName": {
          "type": "string"
        },
        "ExpenseCategoryHasUnitPrice": {
          "type": "boolean"
        },
        "ExpenseCategoryUnitPrice": {
          "format": "double",
          "type": "number"
        },
        "ExpenseCategoryUnitName": {
          "type": "string"
        },
        "CurrencyCode": {
          "type": "string"
        },
        "ExchangeRate": {
          "format": "double",
          "type": "number"
        },
        "Quantity": {
          "format": "double",
          "type": "number"
        },
        "Amount": {
          "format": "double",
          "type": "number"
        },
        "TaxAmount": {
          "format": "double",
          "type": "number"
        },
        "TaxIDFK": {
          "format": "int32",
          "type": "integer"
        },
        "TransactionTaxConfigCode": {
          "type": "string"
        },
        "ExpenseApprovalStatusCode": {
          "type": "string"
        },
        "isChargeable": {
          "type": "boolean"
        },
        "ChargeableStatusCode": {
          "type": "string"
        },
        "isReimbursable": {
          "type": "boolean"
        },
        "ExpenseReimbursementStatusCode": {
          "type": "string"
        },
        "ExpenseDate": {
          "format": "date-time",
          "type": "string"
        },
        "AttachmentURL": {
          "type": "string"
        },
        "Merchant": {
          "type": "string"
        },
        "MerchantTaxNumber": {
          "type": "string"
        },
        "Notes": {
          "type": "string"
        },
        "ExpenseReportIDFK": {
          "format": "int64",
          "type": "integer"
        },
        "ExpenseReportName": {
          "type": "string"
        },
        "DateCreated": {
          "format": "date-time",
          "type": "string"
        },
        "DateUpdated": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "NewExpense": {
      "type": "object",
      "properties": {
        "ExpenseDate": {
          "format": "date-time",
          "description": "The date of the expense entry (Required)",
          "type": "string"
        },
        "UserIDFK": {
          "format": "int32",
          "description": "UserID for a Timesheet/Expense user in Avaza. If not provided, UserEmail field must be provided",
          "type": "integer"
        },
        "UserEmail": {
          "description": "The email address of a Timesheet/Expense user in Avaza. If not provided, UserIDFK field must be provided.",
          "type": "string"
        },
        "ExpenseCategoryIDFK": {
          "format": "int32",
          "description": "The expense category to link the Expense to. If not provided, ExpenseCategoryName must be provided",
          "type": "integer"
        },
        "ExpenseCategoryName": {
          "description": "Must match an existing expense category name otherwise a new category will be created. If left blank Expense Category ID must be provided.",
          "type": "string"
        },
        "isChargeable": {
          "description": "aka Billable. Defaults to false if not provided. If set to true, a CustomerIDFK or CustomerName must be provided.",
          "type": "boolean"
        },
        "isReimbursable": {
          "description": "Defaults to false if not provided.",
          "type": "boolean"
        },
        "CustomerIDFK": {
          "format": "int32",
          "description": "The Avaza Customer ID to associate the Expense with. Either this field or CustomerName can be provided.",
          "type": "integer"
        },
        "CustomerName": {
          "description": "The name of an existing customer in Avaza. Must be an exact (case insensitive) match.",
          "type": "string"
        },
        "ProjectIDFK": {
          "format": "int32",
          "description": "The Avaza project ID to associate the Expense with.",
          "type": "integer"
        },
        "ProjectName": {
          "description": "Can work for matching an expense to a project, but only if it's an exact match for a single project under the customer.",
          "type": "string"
        },
        "CurrencyCode": {
          "description": "A 3-letter ISO CurrencyCode for the expense currency. (e.g. USD). If not provided, defaults to the Account base currency.",
          "type": "string"
        },
        "ExchangeRate": {
          "format": "double",
          "description": "Optional (Only relevant if the expense currency is different to your account currency. If not provided we will look up the market exchange rate for you based on the expense date.) Exchange Rate = Expense Currency Amount / Base Currency Amount (e.g. if Expense currency is in AUD, and Base Currency is in USD, Exchange Rate = AUD $140 / USD $100 = 1.4)",
          "type": "number"
        },
        "Amount": {
          "format": "double",
          "description": "Expense Amount (Required). Must be &gt;= 0",
          "type": "number"
        },
        "TaxIDFK": {
          "format": "int32",
          "description": "Avaza Tax ID the expense belongs to. If left blank then Tax Name must be provided.",
          "type": "integer"
        },
        "TaxName": {
          "description": "Must exactly match an existing Tax Name that you have configured in Avaza Tax settings. If left blank then Tax ID must be provided.",
          "type": "string"
        },
        "TransactionTaxConfigCode": {
[...]
